body,
html {
    font-family: 'Space Grotesk', sans-serif;
}

a {
    text-decoration: none;
    font-size: 16px;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    gap: 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 26px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}


.login {
    margin-left: 100px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.login_button {
    background-color: rgb(245, 243, 255);
    color: black;
    line-height: 24px;
    border-radius: 0.25rem;
}

.get_started_button {
    background-color: rgb(241, 104, 76);
    color: white;
    margin-right: 7.5px;
    line-height: 24px;
    border-radius: 0.25rem;
}
.general {
    max-width: 982px;
    display: flex;
    align-items: center;
    gap: 320px;
    margin: auto;
    justify-content: center;
}
.socialmedia {
    line-height: 50px;
    text-align: left;
    font-weight: 600;
    font-size: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.information {
    font-size: 20px;
    font-weight: 550;
    padding-bottom: 50;
}

.boyy {
    
    
}

.letterbox {
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(241, 104, 76);
    cursor: pointer;
    text-align: center;
    padding: 0 5px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    text-shadow: 2px 2px #252525;
}

.glossary_articles {
    margin-bottom: 30px;
    text-align: center;
    margin: 65px;
}

.glossary_title {
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    font-weight: 600;
    font-size: 64px;
    background-color: #F1684C;
    border-radius: 20px;
}

.glossarycontent {
    display: grid;
    grid-template-rows: repeat(4, 300px);
    grid-template-columns: repeat(3, 1fr);
}

a.word {
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.main_letter {
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 15px;
    margin-top: 75px;
    float: center;
    text-align: center;
}

.glossary_excerpt {
    font-size: 20px;
}


.swipe {
    align-items: center;
    padding: 10px;
    display: none;
}


@media (max-width: 600px) {
    .upper {
        display: none;
    }

    .glossarycontent {
        display: inline;
    }

    .glossary_articles {
        align-items: center;
    }

    .letterbox {
        text-align: center;
        gap: 40px;
        overflow: auto;
        margin-left: 40px;
        margin-right: 40px;
        padding: 10px 10px;

    }

    .socialmedia {
        font-size: 38px;
        text-align: center;
        position: relative;
        padding: 20px;

    }

    .information {
        font-size: 14px;
        padding-bottom: 30px;
        padding: 0px;
        text-align: center;
        
    }

    .boyy {
        text-align: center;
        align-items: center;
        padding: 30px;
    }

    .general {
        flex-direction: column-reverse;
        gap: 10px;
    }   
   .swipe {
        display: flex;
        flex-direction: column;
        
    }
}
