body,
html {
    font-family: 'Space Grotesk', sans-serif;

}

a {
    text-decoration: none;
    font-size: 16px;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;


}




.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    gap: 20px;

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 26px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.usebiolink {}

.login {

    margin-left: 100px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.login_button {
    background-color: rgb(245, 243, 255);
    color: black;
    line-height: 24px;
    border-radius: 0.25rem;
}

.get_started_button {
    background-color: rgb(241, 104, 76);
    color: white;
    margin-right: 7.5px;
    line-height: 24px;
    border-radius: 0.25rem;
}

.socialmedia {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 600;
}

.socialmedia {
    font-size: 60px;
    padding-top: 94px;
    padding-left: 156px;
    margin-bottom: 70px;
    padding-right: 460px;
    
    
}

.information {
    font-size: 20px;
    

    padding-left: 156px;
    padding-right:350px;
    
   

}

.boyy {
margin-right: 100px;
padding: 100px;
margin-top: 38px;


}
.genel {
    
    display: flex;
}
@media screen and (max-width: 600px) {
    div.login_button {
      display: none;
    }
}
.letterbox {
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(241, 104, 76);
    cursor: pointer;
    text-align: center;
    padding: 0 5px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    text-shadow: 2px 2px #252525;
}
.glossary_articles {
    width: 25%;
    margin-bottom: 30px;
    text-align: center;
    margin: 65px;
}
.glossary_title {
    margin-bottom: 30px;
    
    text-align: center;
    
    padding-bottom: 40px;
    padding-top: 40px;
    font-weight: 600;
    font-size: 64px;
    background-color: #F1684C;
    
    border-radius: 20px;
 
}
.glossarycontent {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
a.word {
font-size: 36px;
color: rgb(255, 255, 255);

}

.main_letter {
    width: 100%;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 15px;
    margin-top: 75px;
    float: left;
}
.glossary_excerpt {
    font-size: 20px;
}